<h1>Listing alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Calificacion</th>
      <th>Grado</th>
      <th>Grupo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.calificacion %></td>
        <td><%= alumno.grado %></td>
        <td><%= alumno.grupo %></td>
        <td><%= link_to 'Mostrar datos', alumno %></td>
        <td><%= link_to 'Editar registro', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Eliminar registro', alumno, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
