<h1>Listing turnos</h1>

<table>
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Comentario</th>
      <th>Evaluacion</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @turnos.each do |turno| %>
      <tr>
        <td><%= turno.alumno %></td>
        <td><%= turno.comentario %></td>
        <td><%= turno.evaluacion %></td>
        <td><%= turno.fecha %></td>
        <td><%= turno.hora %></td>
        <td><%= link_to 'Show', turno %></td>
        <td><%= link_to 'Edit', edit_turno_path(turno) %></td>
        <td><%= link_to 'Destroy', turno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turno', new_turno_path %>
